@charset "UTF-8";
:root {
  --bg: #d2d9e3;
  --day: #397ab0;
  --night: #1c202c;
  --sun: #f2c426;
  --moon: #c5c8cf;
  --cloud-front: #fff;
  --cloud-back: #a5c5dc;
  --star: #fff;
  --duration: 1s;
  --easing: cubic-bezier(0.65, 0, 0.34, 1.17);
  --easing-clouds: cubic-bezier(0.65, 0, 0.35, 1);
}


.daynight {
  -webkit-tap-highlight-color: transparent;
  display: block;
  position: relative;
  cursor: pointer;
  width: 25em;
  height: 10em;
  border-radius: 5em;
  overflow: hidden;
  isolation: isolate;
  box-shadow: 0 -0.3em 0.2em 0.1em rgba(0, 0, 0, 0.2), 0 0.3em 0.2em 0.1em #fffeff;
}
.daynight__checkbox {
  appearance: none;
  pointer-events: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 0.5em 0.5em 0 rgba(0, 0, 0, 0.5), inset 0 -0.5em 1em 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.daynight__sky {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  background-color: var(--day);
  transition: background var(--duration) var(--easing);
  isolation: isolate;
}
.daynight__sky::before, .daynight__sky:after {
  content: "";
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  width: 9em;
  height: 9em;
  left: 30.7em;
  top: 1.4em;
  transition: var(--duration) var(--easing);
  box-shadow: -10em 0 0 0 var(--cloud-front), -12.7em 2.5em 0 -1em var(--cloud-front), -16.5em 5.8em 0 0 var(--cloud-front), -20em 5.7em 0 -1em var(--cloud-front), -23.5em 5em 0 -1.2em var(--cloud-front), -28em 5.5em 0 -1em var(--cloud-front), -31em 7.5em 0 0 var(--cloud-front), 9em 1em 0 0 var(--cloud-front);
  animation: clouds 10s infinite var(--easing-clouds);
}
.daynight__sky::before {
  z-index: -1;
  box-shadow: -10.5em -2.2em 0 0 var(--cloud-back), -15em 0em 0 -2em var(--cloud-back), -17.5em 1.8em 0 -1em var(--cloud-back), -20.5em 4.6em 0 0 var(--cloud-back), -24.5em 4.2em 0 0 var(--cloud-back), -28.5em 5.8em 0 0 var(--cloud-back), -31.5em 6.5em 0 0 var(--cloud-back);
  animation-delay: -5s;
  animation-duration: 8s;
}
:checked ~ .daynight__sky {
  background-color: var(--night);
}
:checked ~ .daynight__sky::before {
  transform: translateY(13em);
  opacity: 0;
}
:checked ~ .daynight__sky::after {
  transform: translateY(10em);
  opacity: 0;
}
.daynight__stars, .daynight__morestars {
  transition: var(--duration) var(--easing);
}
.daynight__stars::before, .daynight__stars::after, .daynight__morestars::before, .daynight__morestars::after {
  content: "✦";
  position: absolute;
  font-size: 1.35em;
  color: var(--star);
  opacity: 0;
  transform: translateY(-15em);
  transition: var(--duration) var(--easing);
  animation: stars var(--stars-duration, 7s) var(--stars-delay, 0s) infinite;
}
:checked ~ * .daynight__stars, :checked ~ * .daynight__morestars {
  opacity: 1;
}
:checked ~ * .daynight__stars::before, :checked ~ * .daynight__stars::after, :checked ~ * .daynight__morestars::before, :checked ~ * .daynight__morestars::after {
  transform: translateY(0);
}
.daynight__stars::before {
  left: 3.8em;
  top: 0.8em;
  text-shadow: 6.1em 1.1em;
}
.daynight__stars::after {
  font-size: 1em;
  left: 11em;
  top: 6.8em;
  --stars-duration: 9.1s;
  --stars-delay: -2.8s;
}
.daynight__morestars::before {
  font-size: 0.6em;
  left: 4.9em;
  top: 5.2em;
  text-shadow: 4.5em 1.9em, 13.1em -0.8em, 16.8em 4.4em, 4.5em 8.7em;
  --stars-duration: 5.6s;
  --stars-delay: -7s;
}
.daynight__morestars::after {
  font-size: 0.4em;
  left: 8em;
  top: 19.6em;
  text-shadow: 1.5em -2.1em, 16.7em -7.1em;
  --stars-duration: 11.2s;
  --stars-delay: -1.4s;
}
.daynight__sunmoon, .daynight__sunmoon::before {
  content: "";
  overflow: hidden;
  display: block;
  position: relative;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  transition: transform var(--duration) var(--easing);
  background-color: var(--sun);
  box-shadow: 0.4em 0.4em 0.5em 0.1em rgba(0, 0, 0, 0.3), inset -0.2em -0.2em 0.5em 0 rgba(0, 0, 0, 0.4), inset 0.2em 0.2em 0.5em 0 #fffeff, 0 0 0 10em rgba(255, 255, 255, 0.07), 0 0 0 6.5em rgba(255, 255, 255, 0.07), 0 0 0 3em rgba(255, 255, 255, 0.07);
}
.daynight__sunmoon::before {
  box-shadow: 0.4em 0.4em 0.5em 0.1em rgba(0, 0, 0, 0.3), inset -0.2em -0.2em 0.5em 0 rgba(0, 0, 0, 0.4), inset 0.2em 0.2em 0.5em 0 #fffeff;
  background: radial-gradient(circle, #969db0 1.1em, #798090 1.3em, rgba(129, 136, 153, 0) 1.4em), radial-gradient(circle, #969db0 0.5em, #798090 0.7em, rgba(129, 136, 153, 0) 0.8em), radial-gradient(circle, #969db0 0.5em, #798090 0.7em, rgba(129, 136, 153, 0) 0.8em);
  background-position: -1.2em 0.7em, 0em -2em, 2em 1.4em;
  background-color: var(--moon);
  transform: translateX(105%) rotate(50deg);
  animation: moon 25s infinite linear;
}
:checked ~ * .daynight__sunmoon {
  transform: translateX(15em);
}
:checked ~ * .daynight__sunmoon::before {
  transform: translateX(0) rotate(0);
}

@keyframes stars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes clouds {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}
@keyframes moon {
  to {
    background-position: 6.8em 0.7em, 8em -2em, 10em 1.4em;
  }
}